<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>About Me</h2>
            <br/>
            <p>I'm a Software Engineering student at the University of Texas - Dallas Class 2019. I have a passion for technology and innovation, willing to learn new frameworks and always giving my all on my endeavors. I co-founded a Web Development Studio,
                <a href="https://zetadesignshn.com"> ZETA Designs </a>, on the premise of improving the online platform of Honduran industries and invidivuals. Having travelled to Europe and the Americas has opened my mind to new perspectives and concepts
                that I would like to share to the world through my work.
            </p>
            <br/>
        </div>
    </div>
</section>