<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <br/><br/>
        <h2>About Me</h2>
        <br/><br/>
        <div class="col-lg-10 col-lg-offset-2">
            <div class="about-description">
                <img src="../img/miguel.jpg" class="me-pic" style="float:left; margin: 0 3em 3em 0;" />
                <span class="about-bullets" style="text-align: left">
                    <br/>
                        <p style="font-size:20px">
                            > I'm a Software Engineering student at the University of Texas - Dallas Class 2019 with a passion for technology and innovation. Always willing to learn new frameworks and giving my all on my endeavors.
                        </p>
                        
                        <p style="font-size:20px">
                            > I co-founded a Web Development Studio, ZETA Designs, on the premise of improving the online platform of Honduran industries and invidivuals.
                        </p>
                        <p style="font-size:20px">
                            > Having travelled to Europe and the Americas has opened my mind to new perspectives and concepts that I would like to share to the world through my work.
                        </p>
                    <br/>
                 </span>
            </div>
        </div>
    </div>
</section>